<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <posthog>
            <general>
                <enabled>0</enabled>
                <project_api_key></project_api_key>
                <api_host>https://eu.i.posthog.com</api_host>
                <person_profiles>identified_only</person_profiles>
            </general>
        </posthog>
    </default>
</config>
